asteval
cached-property
certifi
cycler
daal4py
docopt
DOM
finders
future
h5py
joblib
kiwisolver
llvmlite
lmfit
matplotlib
numba
numpy
olefile
pandas
Pillow
pip
pyparsing
PyQt5
PyQt5-sip
PyQtChart
PyQtWebEngine
python-dateutil
pytz
scikit-learn
scikit-learn-intelex
scipy
setuptools
six
threadpoolctl
tornado
tqdm
uncertainties
wheel